@tailwind base;
@tailwind components;
@tailwind utilities;

.rounded {
  border-radius: 0.25rem;
}

.line-through {
  text-decoration: line-through;
}

button {
  cursor: pointer;
}

textarea {
  resize: vertical;
}